/* Globalt stilark - Alt i denne filen er felles for alle nettstedets sider. */
@import url("https://use.typekit.net/nvi4ogw.css"); /*Importerer fonter lisensert til Adobe Fonts*/
$siplilla: #46378a;
$sipgul: #fdc300;
$siporange: #ff9300;

@mixin screen-m {
  @media screen and (max-width: 780px) {
    @content;
  }
}

@mixin screen-s {
  @media screen and (max-width: 500px) {
    @content;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow: inherit;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: "Myriad Pro", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

.mobileHide {
  @include screen-m {
    display: none;
  }
}

/*  - Header -    */
.upperHeader {
  background-color: white;
  a {
    display: inline-grid;
    width: auto;
    margin: 1vh 2vw 0;
    img {
      height: 60px;
      @include screen-s{
        height: 40px;
      }
    }
    h2 {
      font-style: italic;
      grid-column: 2 / 3;
      font-size: 1.5em;
      margin: 0 1vw 1vh;
      color: black;
    }
    &:hover {
      text-decoration: underline $siplilla;
    }
    &:active {
      text-decoration: $siplilla;
    }
  }
}
.lowerHeader {
  padding: 0 1vw 1vh;
  margin: 0;
  position: sticky; /* Fester header til toppen av viewport når man har scrollet ned til den.*/
  top: 0;
  transition: 0.2s;
  z-index: 5; /* Sørger for at header ligger foran alle andre elementer. */
  a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }
  background-color: white;
  height: auto;
  ul {
    display: flex;
    flex-direction: row;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: #46378a;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
        .gjennomstrek {
          text-decoration: line-through;
        }
      }
    }
    #billetter,
    #genser {
      font-weight: bold;
      text-decoration: #46378a wavy underline;
      text-underline-offset: 20%;
      &:hover {
        color: #ff9300;
        text-decoration: #ff9300 wavy underline;
      }
    }
    #stormrevyenno {
      align-self: flex-end;
      margin-left: auto;
    }
    /*
    #genser {
      color: #ff9300;
      text-decoration: #ff9300 wavy underline;
      text-underline-offset: 20%;
      &:hover {
        color: #46378a;
        text-decoration: #46378a wavy underline;
      }
    }*/
  }
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/*  - Content -  */

#hoopla-sales-page-container {
  width: 80%;
  margin: auto;
  @include screen-s {
    width: 100%;
  }
}

#hoopla-sales-page-application {
  .styles_eventContainer-3KX3x {
    .styles_eventImage_kQkKW {
    }
    .styles_eventInfo_3DzJR {
      .styles_date_3jhJF {
        color: red;
      }
      .styles_name_3lNyY {
      }
    }
    div {
      button {
      }
    }
  }
}
.styles_date_3jhJF {
  color: red;
}

.billett-banner {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  background-color: $siplilla;
  div {
    grid-area: 2 / 1 / 3 / 2;
    background-color: $siporange;
    width: 100%;
    padding: 1vh 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    @include screen-s {
      grid-template-rows: 1fr 1fr;
      font-size: 1.2em;
      padding: 1vh 5vw;
    }
    h2 {
      color: white;
      @include screen-s {
        grid-area: 1 / 1 / 2 / 3;
        margin-left: 0;
      }
    }
    a {
      color: $siplilla;
      @include screen-s {
        grid-area: 2 / 2 / 3 / 3;
        margin-right: 0;
      }
      &:hover {
        text-decoration: white underline;
      }
    }
  }
}

h1 {
  margin: 1vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-size: 3em;
  @include screen-s {
    font-size: 1.5em;
  }
}

h2 {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  @include screen-s {
    font-size: 1em;
  }
}

h3 {
  margin: 0;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  @include screen-s {
    font-size: 1em;
  }
}

h6 {
  margin: 0;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 200;
  font-size: 0.7em;
}

a {
  text-decoration: none;
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  @include screen-s {
    font-size: 1em;
  }
}

p {
  padding: 1vw;
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
}

#mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  z-index: 10;
  #mobilePopup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 20px;
    width: 350px;
    height: 320px;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 11;
    h3 {
      border-bottom: #47c2a9 2px solid;
    }
    img {
      width: 30%;
      margin: auto;
    }
    button {
      background-color: black;
      color: white;
      border: 2px solid #47c2a9;
      padding: 5px 3px;
      margin: 5px 0;
    }
  }
}

.hide {
  display: none;
}

/*  - Footer -  */
.footer {
  padding: 0 2rem 20% 2rem;
  text-align: center;
  transform: translateZ(0);

  a {
    display: inline-block;
    position: relative;
    color: black;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 3px;
      left: 0;
      height: 1px;
      background-color: black;
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
}
#byline {
  text-align: center;
  font-size: 0.5em;
}
